[Unit]
Description=Redis-server daemon

[Service]
Type=forking
After=clear-once.service
Restart=always
ExecStartPre=-/bin/mkdir -p /run/redis
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
