[Unit]
Description=Redis-server daemon
After=clear-once.service

[Service]
Type=forking
Restart=always
ExecStartPre=-/bin/mkdir -p /run/redis
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
