[Unit]
Description=MORF Sync Agent
PartOf=sync-agent.service

[Service]
Type=forking
PIDFile=/var/run/redfishgroup2fns.pid
ExecStart=/bin/sh -c "cd /usr/local/sync-agent && luajit subagents/redfishgroup-2-fns.lua"
KillSignal=SIGKILL
KillMode=control-group
Restart=always

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
