[Unit]
Description=AMI Redfish Sync Agent
SourcePath=/usr/local/bin/sync-agent
After=redis-server.service

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/usr/local/bin/sync-agent start
ExecStop=/usr/local/bin/sync-agent stop

[Install]
WantedBy=multi-user.target
